body
{
	text-align: justify;
	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 75px;
	padding-right: 100px;
	background-image: url("images/fond.jpg");
	font-size: 20px;
	text-align: justify;
}

h1
{
	font-size: 45pt;
	color: lightpink;
}

h2
{
	font-size: 30px;
	font-weight: bolder;
	padding-left: 50px;
}

nav+p
{
	display: flex;
	justify-content: center;
	font-size: 25pt;
	font-weight: bold;
	border: 2px black solid;
	background-color: lightpink;
	border-radius: 5px;
	padding: 30px;
}

nav
{
	display: flex;
	justify-content: center;
	font-size: 20pt;
}

li
{
	display: inline;
	justify-content: space-around;
	padding-left: 55px;
	color: rgb(150, 131, 236);
}

a
{
	text-decoration: none;
}

footer
{
	display: flex;
	justify-content: space-around;
}

section section
{
	display: flex;
	flex-direction: column;
}

section ul
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	text-align: center;
	font-weight: bold;
}

main img, input
{
	float: right;
}

#menu td, #info td
{
	padding-left: 50px;
	padding-right: 50px;
	font-size: 20pt;
}

#info img:hover
{
	height:400px;
}

header
{
	font-size: 20pt;
}

section table
{
	padding-right: 100px;
}

#comm
{
	width: 400px;
	padding-top: 10px;
	padding-left: 10px;
	padding-bottom: 100px;
	font-size: 15pt;
}

.comm
{
	padding-right: 55px;
}

#titre td
{
	font-size: 20pt;
	font-weight: bold;
	color: rgb(150, 131, 236);
	padding-left: 110px;
	padding-right: 75px;
	padding-bottom: 80px;
}

#livraison
{
	padding-top: 50px;
	font-size: 20pt;
}

.top th
{
	border-bottom: 2px black solid;
	color:  rgb(150, 131, 236);
}

#pay
{
	background-color: rgb(150, 131, 236);
	border: 2px black solid;
	border-radius: 5px;
	padding: 20px;
}

#pay th
{
	padding-bottom: 20px;
	padding-left: 20px;
	font-size: 20pt;
	
}

#pay td
{
	padding: 10px;
	padding-left: 50px;
}

#panier
{
	display: flex;
	justify-content: space-around;
	padding-top: 35px;
}

.total, .autre, .contact
{
	font-weight: bold;
}

#recherche
{
	width: 200px;
	height: 20px;
}

button, select
{
	width: 100px;
	height: 40px;
	font-weight: bold;
	font-size: 15pt;
}

@media screen and (max-width: 720px)
{
	#titre td
	{
		max-width: 100%;
		display: flex;
		flex-wrap: wrap;
	}
	
	#panier
	{
		display: flex;
		flex-wrap: wrap;
	}
	
	img, #pay td
	{
		max-width: 100%;
	}
	
	#info td
	{
		max-width: 100%;
		display: flex;
		flex-direction: column;
		padding-bottom: 30px;
	}
	
	#comm
	{
		width: 200px;
		padding-top: 10px;
		padding-left: 15px;
		padding-bottom: 100px;
		padding-right: 30px;
		font-size: 15pt;
	}
}